<section class="cat__section">
  <div class="container">
    <h2 class="cat__titel">Видео о нашей работе</h2>
    <p class="cat__text">Просто посмотрите, как мы работаем</p>
    <div class="cat-box">
      <img class="cat-box__img" src="./images/red-cat/red-cat.jpg" alt="картинка города " />
      <a
        href="https://www.youtube.com/watch?v=tRLRymTR_rA"
        target="_blank"
        rel="noreferrer noopener"
        class="cat-box__button"
      >
        <svg class="cat-box__icon" width="60" height="60">
          <use href="./images/sprite.svg#icon-play-cat"></use>
        </svg>
        Смотреть видео
      </a>
    </div>
  </div>
</section>
